@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
  margin-left: 15%;
  margin-right: 15%;
  font-family: 'Montserrat', sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

h2 {
  font-style: italic;
}

.item-list__thumbnail {
  img {
    // border: 1px solid #ddd; /* Gray border */
    // border-radius: 4px;  /* Rounded border */
    // padding: 5px; /* Some padding */
    width: 150px; /* Set a small width */
  }
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -15px; /* gutter size offset */
  // width: auto;
}
.my-masonry-grid_column {
  // padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
  // background: grey;
  margin-bottom: 30px;
  margin-bottom: 15px;
}

.login-container__login {
  width: 40%;
  margin: 10% auto;
}

.login-container__login form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-account {
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-account p {
  margin-right: 5px;
}

@media (max-width: 800px) {
  .my-masonry-grid {
    margin-left: -15px; /* gutter size offset */
  }
  .my-masonry-grid_column {
    padding-left: 15px; /* gutter size offset */
  }
  .my-masonry-grid_column > div {
    margin-bottom: 15px; /* space between items */
  }
}